*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --orange: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--very-dark-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Overpass", fantasy;
}

h2 {
  margin-top: 1em;
}

p {
  color: var(--light-grey);
  margin-bottom: 0;
  font-size: 0.9rem;
}

.rating__modal {
  background-image: radial-gradient(circle at top, var(--dark-blue) 0, var(--very-dark-blue) 100%);
  width: 24em;
  height: 25em;
  border-radius: 25px;
  color: var(--white);
  padding: 2rem;
}

.rating__image {
  width: 2.8rem;
  height: 2.8rem;
  background-color: var(--dark-blue);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rating__value {
  display: flex;
  justify-content: space-between;
}

.rating__values {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.8rem;
  height: 2.8rem;
  margin: 1.8rem 0;
  border-radius: 50% 50%;
  background-color: var(--dark-blue);
  color: var(--light-grey);
  cursor: pointer;
}

#selected {
  background-color: var(--light-grey);
  color: var(--white);
}

.rating__values:hover {
  background-color: var(--orange);
}

.rating__button {
  display: block;
  background-color: var(--orange);
  color: var(--white);
  border-radius: 20px;
  width: 100%;
  height: 3rem;
  padding: 0.2rem;
  border: none;
  cursor: pointer;
  letter-spacing: 3px;
}

.rating__button:disabled {
  background-color: var(--medium-grey);
  color:var(--light-grey);
}

.rating__button:hover {
  background-color: var(--white);
  color: var(--orange);
}

.rating__confirmation {
  background-image: radial-gradient(circle at top, var(--dark-blue) 0, var(--very-dark-blue) 100%);
  width: 22em;
  height: 25em;
  border-radius: 25px;
  color: var(--white);
  padding: 2rem;
  text-align: center;
}

.rating__confirmation h2 {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.rating__chosen {
  display: flex;
  justify-content: center;
  border-radius: 20px;
  width: 65%;
  margin: 0 auto;
  background-color: var(--dark-blue);
  color: var(--orange);
  margin-top: 2rem;
  font-size: 0.9rem;
  padding: 0.3rem 1rem;
}

.attribution {
  font-size: 11px; 
  text-align: center; 
  color: white;
}
.attribution a { 
  color: hsl(228, 45%, 44%);
}